/* Global */

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --section-background: #ececec;
    --section-margin: 30px;
    --shadow-color: #eee;
    --header-size: 60px;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cairo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Header */

header {
    background-color: white;
    box-shadow: 0 0 20px var(--section-background);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media (max-width: 770px) {
            flex-direction: column;
        }

        >.logo,
        .main-nav-list>ul>li>a {
            display: flex;
            align-items: center;
            height: var(--header-size);
        }

        .logo {
            font-size: 1.6em;
            text-decoration: none;
            font-weight: bold;
            margin: 0;
            color: var(--main-color);
        }

        .main-nav-list {
            margin: 0;

            >ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;

                >li {

                    >a {
                        padding-left: 32px;
                        padding-right: 32px;
                        background-color: rgba(var(--main-color), 0);
                        position: relative;
                        text-decoration: none;
                        color: black;
                        font-size: 1.1em;
                        transition: var(--main-transition);
                    }

                    >a::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 4px;
                        background-color: var(--main-color);
                        transition: var(--main-transition);
                    }

                    >a:hover::before {
                        width: 100%;
                    }

                    >a:hover {
                        background-color: color-mix(in srgb, var(--main-color) 5%, transparent);
                        color: var(--main-color);
                    }

                    @media (max-width: 1000px) {
                        >a {
                            font-size: 0.8em;
                            padding-left: 12px;
                            padding-right: 12px;
                            height: 35px;
                        }
                    }

                    >a:hover+.mega-menu,
                    .mega-menu:hover {
                        margin-top: 0;
                        opacity: 1;
                        z-index: 1;
                    }
                }

            }
        }

        .mega-menu {
            position: absolute;
            width: 100%;
            display: flex;
            background-color: white;
            border-bottom: 4px solid var(--main-color);
            gap: 40px;
            padding: 30px;
            right: 0;
            margin-top: 50px;
            z-index: -1;
            opacity: 0;
            transition: var(--main-transition);


            @media (max-width: 770px) {
                flex-direction: column;
                gap: 0;
            }

            >.image {
                flex: 2;

                @media (max-width: 1000px) {
                    display: none;
                }

                >img {
                    max-width: 100%;
                }

            }
        }

        .mega-nav-list {
            flex: 1;

            >ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style: none;

                >li>a {
                    text-decoration: none;
                    display: flex;
                    padding: 15px;
                    background-color: rgba(var(--main-color), 0);
                    position: relative;
                    text-decoration: none;
                    color: var(--main-color);
                    font-size: 1.1em;
                    font-weight: bold;
                    justify-content: start;
                    transition: var(--main-transition);

                    i {
                        padding: 0;
                        margin-right: 10px;
                    }
                }

                >li>a::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: var(--section-background);
                    transition: var(--main-transition);
                }

                >li>a:hover::after {
                    width: 100%;
                }

                >li:not(:last-child)>a {
                    border-bottom: 1px solid #ddd;
                }
            }


        }

        @media (max-width: 770px) {
            .mega-nav-list:not(:last-child)>ul>li:last-child>a {
                border-bottom: 1px solid #ddd;
            }

            .mega-nav-list:last-child>ul>li:last-child>a {
                border-bottom: none;
            }
        }
    }
}

